@charset "UTF-8";
/* regra @charset caso haja problemas com acentuação*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor01: #f2fff8;
    --cor02: #F02C1E;
    --cor03: #D6180B;
    --cor04: #A31208;
    --cor05: #59322F;
    --cor06: #590A04;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

*{
    padding: 0px;
    margin: 0px;
}

header {
    background-color: var(--cor06);
    height: 50px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin: auto;
    color: white;           
}


header > nav {
    
    margin: auto;
    padding-top: 10px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
}

header>nav>a {
    padding: 5px 40px;
}

a {
    font-family: var(--fonte-destaque);
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    
    
}

a:hover {
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 5px;
    padding: 5px 40px;
}

section {
    background-image: url(imagens/wallpapper-inicio-w1300.jpg);
    height: 250px;
    color: white;
  
}

section h1 {
    font-family: var(--fonte-destaque);
    width: 200px;
    padding: 70px 0px;
    
}

section img {
    padding: 40px 0px;
}

section ul {
    height: 250px;
    padding: 0px
}
section li {
    width: 442px;
    margin: auto;
    padding: 0px;
}
div.conteiner {
    max-width: 900px;
    display: flex;
    margin: auto;
    text-align: center;
}



main {
    max-width: 900px;
    
    background-color: rgb(182, 182, 182);
    margin: auto;
    display: flex
}



ul {
    display: flexbox;
    list-style-position: inside;
    list-style-type:none;
    columns: 2;
    
}

li {
    height: 250px;
    text-align: center;
}

li p {
    font-size: 18px;
    text-align: justify;
    padding: 20px 40px ;
}

footer {
    background-color: var(--cor04);
    text-align: center;
    
    font-family: var(--fonte-destaque);
    color: white;

}