@charset "UTF-8";
/* regra @charset caso haja problemas com acentuação*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor01: #ffffff;
    --cor02: #F02C1E;
    --cor03: #D6180B;
    --cor04: #A31208;
    --cor05: #59322F;
    --cor06: #590A04;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
}
header {
    background-color: var(--cor06);
    min-height: 50px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin: auto;
    color: white; 
    display: flex;          
}


header > nav {
    
    margin: auto;
    padding-top: 10px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
}

header>nav>a {
    padding: 5px 40px;
}

a {
    font-family: var(--fonte-destaque);
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    
    
}

a:hover {
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 5px;
    padding: 5px 40px;
}

.container {
    background-image: url(imagens/wallpapper-inicio-w1300.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 250px;
    color: white;
    position: relative;
  
}

div#q1 {
    margin:auto;   
}

div#q2 {
    margin:auto;   

}

section h1 {
    font-family: var(--fonte-destaque);
    width: 200px;
    
    
}







.conteudo {
    max-width: 900px;
    background-color:var(--cor01);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

main div#img1 {
    padding-top: 20px;
}



main p {
    font-size: 18px;
    text-align: justify;
    padding: 20px 20px ;
    color: black;
    max-width: 340px;
}

.links {
    padding: 30px;
    min-height: 250px;
    background-image: url(imagens/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: var(--fonte-padrao);
}

button {
    width: 70px;
    height: 20px;
    background-color: #590A04;
    border: 2px solid black  ;
    border-radius: 5px;
    color: white;
}
footer {
    background-color: var(--cor04);
    text-align: center;
    font-family: var(--fonte-destaque);
    color: white;

}